<div class="nav row justify-content-center text-primary-emphasis fs-3 mt-5">
    Selecione a API
</div>

<div class="nav row col-2 m-auto mt-5">
    <a class="btn btn-outline-primary"
    routerLink="/bannerbear"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Bannerbear</a>
</div>

<div class="nav row col-2 m-auto mt-5">
    <a class="btn btn-outline-primary"
    routerLink="/templateio"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Template.io</a>
</div>