<div class="container p-5">
    <div class="row align-items-center text-light menu-container">
      <div class="col-md-12">

        <div class="nav justify-content-center">
          <img src="/assets/img/favicon.png" class="mb-2" alt="logo" style="width: 12%;">
        </div>

        <div class="nav row justify-content-center text-primary-emphasis fs-2">
            Selecione a API
        </div>
        
        <div class="nav row col-3 m-auto mt-5 interactive">
            <a class="btn btn-outline-primary"
            routerLink="/bannerbear"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Bannerbear</a>
        </div>
        
        <div class="nav row col-3 m-auto mt-5 interactive">
            <a class="btn btn-outline-primary"
            routerLink="/templateio"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Template.io</a>
        </div>

      </div>
    </div>
  </div>